node_modules

.idea
.vscode
.history
*.log
.DS_Store
*.vsix
package-lock.json

.varlet-lowcode
dist
es

packages/varlet-lowcode-cli/lib/commands
packages/varlet-lowcode-cli/lib/compiler
packages/varlet-lowcode-cli/lib/config
packages/varlet-lowcode-cli/lib/shared
packages/varlet-lowcode-cli/lib/index.d.ts

packages/varlet-lowcode-schema-jsx-vite-plugin/lib

packages/varlet-lowcode-schema-tree/lib
packages/varlet-lowcode-schema-tree/types

packages/varlet-lowcode-core/lib
packages/varlet-lowcode-core/types

packages/varlet-lowcode-renderer/lib
packages/varlet-lowcode-renderer/public/varlet-lowcode-core.umd.js
packages/varlet-lowcode-renderer/public/varlet-lowcode-profile.umd.js
packages/varlet-lowcode-renderer/public/varlet-lowcode-dnd.umd.js
packages/varlet-lowcode-renderer/public/varlet-lowcode-selector.umd.js
packages/varlet-lowcode-renderer/types

packages/varlet-lowcode-dnd/lib
packages/varlet-lowcode-dnd/public/varlet-lowcode-core.umd.js
packages/varlet-lowcode-dnd/types

packages/varlet-lowcode-designer/lib
packages/varlet-lowcode-designer/public/varlet-lowcode-core.umd.js
packages/varlet-lowcode-designer/public/varlet-lowcode-renderer.umd.js
packages/varlet-lowcode-designer/public/varlet-lowcode-selector.umd.js
packages/varlet-lowcode-designer/public/varlet-lowcode-profile.umd.js
packages/varlet-lowcode-designer/types


packages/varlet-lowcode-codegen/lib
packages/varlet-lowcode-codegen/public/varlet-lowcode-profile.umd.js
packages/varlet-lowcode-codegen/public/varlet-lowcode-core.umd.js
packages/varlet-lowcode-codegen/types

packages/varlet-lowcode-skeleton/public/varlet-lowcode-core.umd.js
packages/varlet-lowcode-skeleton/public/varlet-lowcode-profile.umd.js
packages/varlet-lowcode-skeleton/public/varlet-lowcode-renderer.umd.js
packages/varlet-lowcode-skeleton/lib
packages/varlet-lowcode-skeleton/types

packages/varlet-lowcode-materials-panel/lib
packages/varlet-lowcode-materials-panel/types

packages/varlet-lowcode-selector/public/varlet-lowcode-core.umd.js
packages/varlet-lowcode-selector/lib/varlet-lowcode-selector.es.js
packages/varlet-lowcode-selector/lib/varlet-lowcode-selector.umd.js
packages/varlet-lowcode-selector/types

packages/varlet-lowcode-profile/lib
packages/varlet-lowcode-profile/types

packages/varlet-lowcode-parser/lib
packages/varlet-lowcode-parser/types

packages/varlet-lowcode-code-editor/lib
packages/varlet-lowcode-code-editor/types

packages/varlet-lowcode-monaco/lib
packages/varlet-lowcode-monaco/types

packages/varlet-lowcode-schema-editor/lib
packages/varlet-lowcode-schema-editor/types

packages/varlet-lowcode-undo-redo/lib
packages/varlet-lowcode-undo-redo/types

packages/varlet-lowcode-resizer/lib
packages/varlet-lowcode-resizer/types

packages/varlet-lowcode-setters/lib
packages/varlet-lowcode-setters/types

packages/varlet-lowcode-data-source-panel/lib
packages/varlet-lowcode-data-source-panel/types

packages/varlet-lowcode-draggable-tree/lib
packages/varlet-lowcode-draggable-tree/types

packages/varlet-lowcode-locale-switcher/lib
packages/varlet-lowcode-locale-switcher/types
