.varlet-low-code-popover {
  &__content::after {
    position: absolute;
    width: 12px;
    height: 12px;
    content: '';
    transform: rotate(45deg);
    border: 1px solid #dcdee3;
    background-color: #fff;
    box-sizing: content-box;
    z-index: -1;
  }

  &__content {
    background-color: #fff;
    border: 1px solid #dcdee3;
    border-radius: 5px;
  }
}

.varlet-low-code-popover-bottom-right::after {
  position: absolute;
  bottom: -7px;
  right: 12px;
  border-top: none;
  border-left: none;
}

.varlet-low-code-popover-top-right::after {
  position: absolute;
  top: -7px;
  right: 12px;
  border-bottom: none;
  border-right: none;
}
