:root {
  --position-theme-right-width: 30px;
  --position-theme-left-width: 30px;
  --margin-theme-right-width: 20px;
  --margin-theme-left-width: 20px;
  --padding-theme-right-width: 20px;
  --padding-theme-left-width: 20px;
}

.position-value {
  &__title {
    display: inline-block;
    width: 70px;
    font-size: 14px;
    margin-right: 10px;
    margin-bottom: 10px;
  }
}

.position-box {
  position: relative;
  width: 100%;
  height: 150px;
  float: left;

  &__next-input {
    input {
      text-align: center;
      line-height: 20px;
      height: 20px;
      padding: 0;
      width: 100%;
      border: none;
      outline: none;
      margin: 0;
      vertical-align: middle;
      background-color: transparent;
      color: #333;
    }
  }
}

.position-right-div {
  position: absolute;
  top: 5px;
  bottom: 5px;
  right: 0;
  width: 0;
  border-top: 30px solid transparent;
  border-bottom: 30px solid transparent;
  border-right: var(--position-theme-right-width) solid #d6e4ff;

  &__next-input {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    min-width: var(--position-theme-right-width);
    margin: auto;
    background: transparent;

    input {
      position: absolute;
      top: 0;
      bottom: 0;
      right: 0;
      margin: auto;
      min-width: var(--position-theme-right-width);
      height: 30px;
      line-height: 30px;
      text-align: center;
    }
  }
}

.position-bottom-div {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 0;
  border-left: var(--position-theme-left-width) solid transparent;
  border-right: var(--position-theme-right-width) solid transparent;
  border-bottom: 30px solid #d6e4ff;
  transition: all 0.3s ease;

  &__next-input {
    position: absolute;
    left: 0;
    right: 0;
    bottom: -30px;
    height: 30px !important;
    background: transparent;
    width: 100%;

    input {
      height: 30px;
    }
  }
}

.position-left-div {
  position: absolute;
  top: 5px;
  bottom: 5px;
  left: 0;
  width: 0;
  border-top: 30px solid transparent;
  border-bottom: 30px solid transparent;
  border-left: var(--position-theme-left-width) solid #d6e4ff;

  &__next-input {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    width: var(--position-theme-left-width);
    margin: auto;
    background: transparent;

    input {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      margin: auto;
      width: var(--position-theme-left-width);
      height: 30px;
      line-height: 30px;
      text-align: center;
    }
  }
}

.position-top-div {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 0;
  border-left: var(--position-theme-left-width) solid transparent;
  border-right: var(--position-theme-right-width) solid transparent;
  border-top: 30px solid #d6e4ff;

  &__next-input {
    position: absolute;
    left: 0;
    right: 0;
    top: -30px;
    height: 30px !important;
    background: transparent;
    width: 100%;

    input {
      height: 30px;
    }
  }
}

.varlet-low-code {
  &__box-container {
    position: relative;
    width: 100%;
    height: 150px;
  }

  &__margin-top-div {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 0;
    border-left: var(--margin-theme-left-width) solid transparent;
    border-right: var(--margin-theme-right-width) solid transparent;
    border-top: 20px solid #d6e4ff;
    transition: all 0.3s ease;

    .next-input {
      position: absolute;
      left: 0;
      right: 0;
      top: -20px;
      height: 20px !important;
      background: transparent;
      width: 100%;
    }
  }

  &__margin-right-div {
    position: absolute;
    top: 5px;
    bottom: 5px;
    right: 0;
    width: 0;
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
    border-right: var(--margin-theme-right-width) solid #d6e4ff;
    transition: all 0.1s ease;

    .next-input {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      min-width: var(--position-theme-right-width);
      min-width: var(--margin-theme-right-width);
      margin: auto;
      background: transparent;

      input {
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        margin: auto;
        width: var(--margin-theme-right-width);
        height: 20px;
        line-height: 20px;
        text-align: center;
      }
    }
  }

  &__margin-bottom-div {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 0;
    border-left: var(--margin-theme-left-width) solid transparent;
    border-right: var(--margin-theme-right-width) solid transparent;
    border-bottom: 20px solid #d6e4ff;
    transition: all 0.3s ease;

    .next-input {
      position: absolute;
      left: 0;
      right: 0;
      bottom: -20px;
      height: 20px !important;
      background: transparent;
      width: 100%;
    }
  }

  &__margin-left-div {
    position: absolute;
    top: 5px;
    bottom: 5px;
    left: 0;
    width: 0;
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
    border-left: var(--margin-theme-left-width) solid #d6e4ff;
    transition: all 0.1s ease;

    .next-input {
      position: absolute;
      top: 0;
      bottom: 0;
      right: 0;
      min-width: var(--margin-theme-left-width);
      margin: auto;
      background: transparent;

      input {
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        margin: auto;
        width: var(--margin-theme-left-width);
        height: 20px;
        line-height: 20px;
        text-align: center;
      }
    }
  }

  &__padding-top-div {
    position: absolute;
    top: 25px;
    left: calc(var(--margin-theme-left-width) + 5px);
    right: calc(var(--margin-theme-right-width) + 5px);
    height: 0;
    border-left: var(--padding-theme-left-width) solid transparent;
    border-right: var(--padding-theme-right-width) solid transparent;
    border-top: 20px solid #d6e4ff;
    transition: all 0.3s ease;

    .next-input {
      position: absolute;
      left: 0;
      right: 0;
      top: -20px;
      height: 20px !important;
      background: transparent;
      width: 100%;
    }
  }

  &__padding-right-div {
    position: absolute;
    top: 30px;
    bottom: 30px;
    right: calc(var(--margin-theme-right-width) + 5px);
    width: 0;
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
    border-right: var(--padding-theme-right-width) solid #d6e4ff;
    transition: all 0.3s ease;
    .next-input {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      min-width: var(--padding-theme-right-width);
      margin: auto;
      background: transparent;

      input {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        margin: auto;
        min-width: var(--padding-theme-right-width);
        height: 20px;
        line-height: 20px;
        text-align: center;
      }
    }
  }

  &__padding-bottom-div {
    position: absolute;
    left: calc(var(--margin-theme-left-width) + 5px);
    right: calc(var(--margin-theme-right-width) + 5px);
    bottom: 25px;
    height: 0;
    border-left: var(--padding-theme-left-width) solid transparent;
    border-right: var(--padding-theme-right-width) solid transparent;
    border-bottom: 20px solid #d6e4ff;
    transition: all 0.3s ease;

    .next-input {
      position: absolute;
      left: 0;
      right: 0;
      bottom: -20px;
      height: 20px !important;
      background: transparent;
      width: 100%;
    }
  }

  &__padding-left-div {
    position: absolute;
    top: 30px;
    bottom: 30px;
    left: calc(var(--margin-theme-left-width) + 5px);
    width: 0;
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
    border-left: var(--padding-theme-left-width) solid #d6e4ff;
    transition: all 0.3s ease;

    .next-input {
      position: absolute;
      top: 0;
      bottom: 0;
      right: 0;
      min-width: var(--padding-theme-left-width);
      margin: auto;
      background: transparent;

      input {
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        margin: auto;
        min-width: var(--padding-theme-left-width);
        height: 20px;
        line-height: 20px;
        text-align: center;
      }
    }
  }

  &__explain-txt {
    position: absolute;
    top: -20px;
    left: -5px;
    transform: scale(0.75);
  }
}
