:root {
  --right-varlet-width: 300px;
  --color-line-normal: rgba(31, 56, 88, 0.1);
  --color-text: rgba(0, 0, 0, 0.6);
}

@media (min-width: 1860px) {
  :root {
    --right-varlet-width: 400px;
  }
}

.hover:hover {
  cursor: pointer;
}

.f-a-c {
  display: flex;
  align-items: center;
}

.varlet-lowcode-setters {
  height: calc(100vh - 58px);
  background: #fff;

  .varlet-lowcode-setters-content {
    height: 100%;
    width: var(--right-varlet-width);

    .setters-tabs-content {
      height: 100%;
    }

    .setters-empty {
      text-align: center;
      font-size: 12px;
      color: rgba(0, 0, 0, 0.6);
      padding: 50px 15px 0;
    }
  }
}

.setters-attribute-field {
  font-size: 12px;
  box-sizing: border-box;

  .attribute-field-head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    height: 32px;
    padding: 0 12px;
    background: rgba(31, 56, 88, 0.06);
  }

  .attribute-field-body {
    display: flex;
    align-items: center;
    margin: 20px 0;

    .attribute-field-body-title {
      width: 70px;
    }

    .attribute-field-body-content {
      flex: 1;
      display: flex;
      justify-content: end;
      margin-right: 20px;
      position: relative;

      > i {
        cursor: pointer;
        position: absolute;
        right: -4px;
        top: 50%;
        transform: translate(100%, -50%);
      }
    }
  }
}
