* {
  margin: 0;
  padding: 0;
}

.main {
  width: 100%;
  height: 100vh;
}

.skeleton {
  height: 100%;
  display: flex;
  flex-direction: column;

  .content {
    flex: 1;
    display: flex;
    flex-direction: row;
  }

  .sidebar {
    height: 100%;
    background: aqua;
    display: flex;
    position: relative;

    .sidebarComponent {
      min-width: 200px;
      position: absolute;
      left: 20px;
      height: 100%;
      background: aquamarine;
    }

    .sidebarComponent-pinned {
      position: static;
    }
  }

  .drawing-board {
    flex: 1;
    background: yellow;
  }
}
